@import "tailwindcss";

/* Allow Tailwind to recognize the dark class added by next-themes */
@custom-variant dark (&:where(.light, .light *));

:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  --bg-dark: #131313;
  --bg-less-dark: #242424;
  --text-main: #e2e2e2;
  --accent: #6eDD86;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-grotesk: var(--font-space-grotesk);
}

/* This must be the .dark class so the next-themes toggle can apply it */
.light {
  /* --background: #0a0a0a;
  --foreground: #ededed; */
  --bg-dark: #fafafa;
  --bg-less-dark: #ffffff;
  --text-main: #222222;
  --accent: #44c45f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.button-green {
  background: var(--accent);
  display: flex;
  gap: 5px;
  color: var(--bg-dark);
  font-family: var(--font-inter);
  font-weight: 600;
  padding: 0.75rem 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 50;
}

.button-green:hover {
  background: #5dbb72;
  box-shadow: 0 0 40px rgba(110, 221, 134, 0.5);
}


.button-dark {
  background: var(--bg-dark);
  display: flex;
  gap: 5px;
  color: var(--text-main);
  font-family: var(--font-inter);
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 50;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid rgb(94, 94, 94);
}

.button-dark:hover {
  background: var(--bg-less-dark);
}
